#categories {
    text-align: left;
    margin-top: 20px;
    margin-left: 3%;
        /* Center the container horizontally */
    margin-right: 3%;
        /* Center the container horizontally */

}
